.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  &.App--authenticated {}

  &.App--unauthenticated {
    justify-content: space-between;
  }

  .App__content {
    font-family: monospace;
    font-size: 28px;
    margin: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    background: white;
    opacity: 0.75;
    color: black;
  }

  .App__footer {
    height: 160px;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  }
}